---
layout: default
title:  'Welcome'
---

<h1>List of known offline networking projects</h1>

This is a first list of projects that uses different technologies to create a network and provides a user experience different from using the normal Internet.
<br /> Please feel free to contribute at the link above and add you project via creating a "Pull request" or file a "Github issue".


<table>
<tr><th>Name</th><th>Description</th><th>Supported Plattforms</th><th>Categories</th><th>Project Website</th></tr>
{% for project_hash in site.data.projects %}
{% assign proj = project_hash[1] %}
  <tr>
	<td>{{ proj.name }}</td>
	<td>{{ proj.description }} </td>
	<td>{{ proj.plattforms }} </td>
	<td>{{ proj.categories }} </td>
{% if  proj.url  %}
	<td><a href="{{ proj.url }}" target="_blank">Website</a></td>
{% else %}
	<td><a href="projects/{{ proj.name }}.html">small project page</a>
{% endif %}
  </tr>
{% endfor %}
</table>
